<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <form method="POST" action="/user">
            <input type="email" required="true" placeholder="Enter your email" name="email" class="form__input"> <br><br>
            <input type="password" required="true" placeholder="Enter your password" name="password" class="form__input"> <br><br>
            <button class="button-21">Submit</button>
    
        </form>
        <br><br>

        <form method="get" action="/user/new">
            <button class="button-21">New? Register here</button> <br><br>
        </form>

        <form method="get" action="/user/forget">
           <button class="button-21">Forget password?</button> 
        </form>
    </div>
</body>
</html>